  $primaryTextColor: #212121;
  $secondaryTextColor: #757575;
  $accentColor: #2196f3;
  $primaryBgColor: #ffff;
  $secondaryBgColor: #f5f4fa;
  $footerColor: #2f303a;
  $logoColor: #000000;
  $btnHover: #188ce8;
  $iconsColor: #afb1b8;
  $whiteColor: #ffffff;

    :root {
      --primary-text-color: #212121;
      --secondary-text-color: #757575;
      --accent-color: #2196f3;
      --primary-bg-color: #ffff;
      --secondary-bg-color: #f5f4fa;
      --footer-color: #2f303a;
      --logo-color: #000000;
      --btn-hover: #188ce8;
      --icons-color: #afb1b8;
      --white-color: #ffffff;
    }